.dotnet-home/.dotnet/.workloadAdvertisingManifestSentinel10.0.200-preview.0
.dotnet-home/.dotnet/10.0.200-preview.0.26103.119_IsDockerContainer.dotnetUserLevelCache
.dotnet-home/.dotnet/10.0.200-preview.0.26103.119_MachineId.dotnetUserLevelCache
.dotnet-home/.dotnet/10.0.200-preview.0.26103.119.aspNetCertificateSentinel
.dotnet-home/.dotnet/10.0.200-preview.0.26103.119.dotnetFirstUseSentinel
.dotnet-home/.dotnet/10.0.200-preview.0.26103.119.toolpath.sentinel
.dotnet-home/.dotnet/MachineId.v1.dotnetUserLevelCache
.dotnet-home/.dotnet/TelemetryStorageService/0fe192dfb47b4a51b59196ac16c5e014
.dotnet-home/.dotnet/TelemetryStorageService/20260507192920_5e97517a3759480e90a35a52498596c3.trn
.dotnet-home/.dotnet/TelemetryStorageService/20260507192920_8fa55d7a3f1e4f0cb6f6fb62def5ab3e.trn
.dotnet-home/.dotnet/TelemetryStorageService/20260507192920_750c22de27dd4c1891d730d99b90c278.trn
.dotnet-home/.dotnet/TelemetryStorageService/20260507192920_deeec24678794fcf97aed76770a315dd.trn
